addons/l10n_cz_vat_filing/data/xsd/dphshv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XSD schema for the DPHSHV (Souhrnné hlášení) XML form.

  Derived from the Odoo l10n_cz_vat_filing generator.
  For authoritative MFČR schemas see https://adisepo.mfcr.cz/
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Czech date format: DD.MM.YYYY -->
  <xs:simpleType name="CzDate">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{2}\.\d{2}\.\d{4}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="Pisemnost">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DPHSHV">
          <xs:complexType>
            <xs:sequence>

              <!-- Header: submission metadata -->
              <xs:element name="VetaD">
                <xs:complexType>
                  <xs:attribute name="dokument"    type="xs:string" use="required"/>
                  <xs:attribute name="k_uladis"    type="xs:string" use="required"/>
                  <xs:attribute name="d_poddp"     type="CzDate"    use="required"/>
                  <xs:attribute name="rok"         type="xs:string" use="required"/>
                  <xs:attribute name="shvies_forma" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="R"/>
                        <xs:enumeration value="O"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:anyAttribute processContents="lax"/>
                </xs:complexType>
              </xs:element>

              <!-- Taxpayer contact/address -->
              <xs:element name="VetaP">
                <xs:complexType>
                  <xs:attribute name="dic"       type="xs:string" use="required"/>
                  <xs:attribute name="c_ufo"     type="xs:string" use="required"/>
                  <xs:attribute name="c_pracufo" type="xs:string" use="required"/>
                  <xs:anyAttribute processContents="lax"/>
                </xs:complexType>
              </xs:element>

              <!-- Summary rows (0..* — empty filing has no rows) -->
              <xs:element name="VetaR" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:anyAttribute processContents="lax"/>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
            <xs:anyAttribute processContents="lax"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:anyAttribute processContents="lax"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
